

body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: url("../img/shattered.png");
}

.row_s{
  border-radius:2em;
  height: 256px;
  background-color: #eeeeee;
  margin-bottom: 10px;

}

#circle_image {
height:256px;
padding-top:64px;
padding-bottom:auto;

}

