<div class="header">
    <ul class="nav nav-pills pull-right">
		<li class="{% if page.url == '/' %}active{% endif %}"><a href="index">Home</a></li>
		<li class="{% if page.url == '/projects.html' %}active{% endif %}"><a href="projects">Projects</a></li>
		<li class="{% if page.url == '/books.html' %}active{% endif %}"><a href="books">Books</a></li>
		<li><a href="SeanSmith.pdf">Resume</a></li>
		<li class="{% if page.url == '/news.html' %}active{% endif %}"><a href="news">News</a></li>
		<li class="{% if page.url == '/contact.html' %}active{% endif %}"><a href="contact">Contact</a></li>
		<li><a href="//blog.seanssmith.net">Blog</a></li>
	</ul>
	<h3 class="text-muted">Sean Smith</h3>
</div>
